spring:
  application:
    name: wms-core-api

  datasource:
    url: jdbc:postgresql://localhost:5432/wms_core
    username: wms_user
    password: wms_password
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false # Boa prática: evita conexões presas na renderização
    show-sql: true
    hibernate:
      ddl-auto: validate # CRÍTICO: Nunca use 'update' em produção. O Flyway que manda.
    properties:
      hibernate:
        format_sql: true
        # Dialeto otimizado para Postgres com JSONB
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
